@import "./base.css";

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #151515;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.title-header {
    border-bottom: 1px solid #d0d7de;
}

.button {
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 12px;
    width: 150px;
    height: 48px;
    background: #3626A7;
    border-radius: 8px;
    box-shadow: 4px 4px #ccc;
    cursor: pointer;
}

.button-link {
    color: #656d76;
    margin: 16px 0;
    background: none;
}

.button-link:hover {
    color: #151515;
    cursor: pointer;
}